<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>The Treefold Notebook</title>
  <meta name="description" content="Carnet de notes non-linéaire, avec une structure d'arbre.">
  <meta name="author" content="S. Vinet">

  <link rel="stylesheet" href="resources/css/styles.css">

  <script src="resources/js/lib/marked.min.js"></script>
  <script src="resources/js/lib/pouchdb-5.2.0.min.js"></script>
<!--  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.js"></script>-->
  <script src="resources/js/lib/vue.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="main">
    <h2>Mon Carnet Nonlinéaire</h2>
    <div id='elt'>
      <div v-on:click="addDoc">
        + Ajouter une note
      </div>
      <div v-if="activeDoc">
        <h3> <input type="text" v-model="activeDoc.title" placeholder="Titre"> - {{findDocById(activeDoc)._id}}</h3>
        <br>
        <textarea type="text" v-model="activeDoc.text" v-on:change="dateModif(activeDoc)" placeholder="Le texte" debounce="500" cols="80" rows="20"></textarea>
      </div>
      <ul>
        <li v-for="doc in listDocs|orderBy 'modified' -1" v-on:click="activate(doc._id)"><b>{{doc.title}}</b> (créé le {{doc._id}} et modifié le {{doc.modified}}) </li>
      </ul>
    </div>
  </div>
  <script src="resources/js/main.js"></script>

</body>
</html>
