<link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet" type="text/css">

body{
 font-family:'Gentium Book Basic';
 color:#ff0000;
 size:14px;
}

h2{
  margin-left: 20px;
}

#main{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
